.navbar{
     background-image: linear-gradient(white);
     padding: 0;
     margin: 0;
    
} 

section-1 ul li{
    font-size: 20px;
    font-weight: 600;
}
section-1 .navbar-brand span{
    font-size: 30px;
    font-weight: 800;
}
section-1 img{
    height: 500px;
    background-color: black;
    filter: brightness(60%)
}
section-1 .dream {
    position: absolute;
    top: -350px;
    margin-left: 100px;
}
section-1 button{
    background-color: #FFC312;
    margin-left: 190px;
}

 section-1 .btn{
    text-align: center  ;

}
section-1 h2{
    text-align: center;
} 

/* section-2 */
section-2 .container-fluid{
    padding-bottom: 150px ;
}
section-2 .container-fluid img{
    height: 300px;
    width: 300px;
}  
section-2 .container-fluid{
    background-color: #d2dae2;
}
section-3 .container-fluid{

    background-color: #d2dae2;


}
.section-3 .row img{
    height: 200px;
    width: 200px;
}
section-3 .card-body{
    background-color: black;
}
section-4 a{
    margin-left: 56px;
}

section-4 .container-fluid{
    background-color: #d2dae2;
}
section-5 .container-fluid{
    background-color: #d2dae2;
}

section-6 .form-group{
    box-shadow: 0px 0px 7px 3px #ffcccc;
}

html{
    scroll-behavior: smooth;
}



